// Darker Theme
$white: #080808;

$black: #ffffff;
$black-2: #f0f0f5;
$black-3: #e0e3ed;

$grey: #121317;
$grey-2: #1e1e1e;
$grey-3: #636363;
$grey-4: #6d6e75;
$grey-5: #1e1e1e;
$grey-6: #2b4eff;
$grey-7: #0fa0dd;
$grey-8: #7a797f;
$grey-9: #474956;
$grey-11: #121317;
$grey-12: #0e1133;
$grey-13: #6d6e75;

$footer-bg: #000320;

$e-blue: #4ec9b0;
$e-blue-2: #569cd6;
$e-blue-3: #569cd6;
$e-blue-4: #4ec9b0;
$e-blue-5: #30a820;
$e-blue-6: #0cae74;
$e-yellow: #ffb352;
$e-yellow-2: #ffcc00;
$e-yellow-3: #ffcc00;
$e-pink: #fc4389;
$e-pink-2: #d69d85;
$e-pink-3: #b128ff;
$e-pink-4: #fc4389;
$e-pink-5: #fc4389;
$e-orange: #ff652e;
$e-orange-2: #ff8f21;
$e-orange-3: #ffa507;
$e-orange-4: #ff652e;
$e-purple: #2d69f0;
$e-purple-2: #516eff;
$e-purple-3: #5744cb;
$e-skyblue: #2b4eff;
$e-skyblue-2: #3b60ff;
$e-green: #30a820;
$e-green-2: #0cae74;
$e-brown: #960443;

$body-text-color: #ffffff;

$e-text-1: #4ec9b0;
$e-text-2: #569cd6;
$e-text-3: #6d6e75;
$e-text-4: #53545b;
$e-text-5: #cccccc;
$e-text-6: #aaaaaa;
$e-text-7: #474956;

$border: #1c1f3f;
$border-2: #000320;
$border-3: #6d6e75;
$border-4: #53545b;
$border-5: #e0e1e8;
$border-6: #1e1e1e;
$border-7: #121317;
$border-8: #0e1133;

$heading-color: #ffffff;

$black-soft: #000;
